/* RESET BROWSER DEFAULTS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}

/* REMOVE li STYLING */
ul {
  list-style-type: none;
}

/* SET FONT FAMILIES*/
h1, button, h2, h4 {
 font-family: league-gothic, sans-serif;

}

h3, input,  p, li {
	font-family: 'Scope One', serif;
}

/* GLOBAL */
h1 {
  font-size: 18vw;
   font-weight: 900;
	line-height: 0.9em;
  color: white;
text-shadow: 0 0.02em 0.08em #444;

}

h2 {
	font-weight: 700;
	font-size: 1rem;
}

h3 {
	display: none;
  font-size: 6vw;
  color: #ff86d5;
}

h4 {
	color: #22d4d4;
	text-align: center;
}

input {
  padding: 1.5vh;
  border: none;
  border-radius: 4px;
  width: 90%;
    box-shadow: 0 0.1em 0.3em #888;
  margin: 4vh 0;
	box-sizing: border-box;
	font-size: 1.5rem;
}

input.restaurant-search {
	width: 60vw;
}

button {
  padding: 0.7em;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: #22d4d4;
	width: 90%;
  box-shadow: 0em 0.1em 0.3em #666;
  padding: 1.5vh;
	margin: 1vh 0;
	font-size: 1.5rem;
	letter-spacing: 2.5px;

}

button:hover {

	  box-shadow: 0em 0.1em 0.8em #666;
		transform: translate(0,-.2vh);
}

li, p {
	font-size: 1rem;
	line-height: 1em;
	list-style-type: none;
}

/* LANDING VIEW */
.landing {
  width: 100vw;
  max-width:100%;
	height: 100vh;
  background-color:#ff616f;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.landing-title-container {
  width: 80%;
	box-sizing: border-box;
  text-align: center;
  position: absolute;
  top: 8vh;
}

/* RESTAURANTS VIEW */
.restaurants {
	width: 100vw;
	min-height: 100vh;
	background-color: white;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.left-arrow, .right-arrow {
	width: 9vw;
	position: absolute;
	top: 5vh;
}

.home-button {
	width: 7vw;
	position: absolute;
	top: 4vh;
	right: 3vh;
}

.left-arrow {
	left: 3vh;
}

.right-arrow {
	right: 3vh;
}

.container-of-restaurant-list-container {
	width: 100%;
}

.restaurant-list-container {
	background-color: #ccc;
	width: 90vw;
	box-sizing: border-box;
	max-height: 72vh;
	overflow-y: scroll;
	margin: 2vh;
	border-radius: 4px;
	box-shadow: 0 0.1em 0.3em #888;
	position: relative;
	 border-bottom-width: 100px;

	 border-bottom-style: solid;
	
 -webkit-border-image: linear-gradient(to top, black, rgba(0,0,0,0)) 1 100%; 

}

 /* .restaurant-list-container {
	content: "";
	width: 100%;
	height: 100px;
	background: linear-gradient(rgba(200,200,200,0.1), rgba(200,200,200,0.4));
	position: absolute;
	left: 0;
	bottom: 0;
}  */

.restaurant-list-item {
	background-color: white;
    border-radius: 4px;
    margin: 4px auto;
    width: 98%;
    box-shadow: 0 0.1em 0.3em #888;
	display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 120px;
    overflow: hidden;
}

.restaurant-list-item * {
	padding: 2px;
}

.rli-image {
	display: inline-block;
	width: 32%;
	box-sizing: border-box;
	text-align: center;
}

.rli-detail-container {
	width: 68%;
}

.rli-location-phone {
	/* width: 40%; */
	box-sizing: border-box;
	width: 60%;
	display: inline-block;
}

.rli-rating-price {
	width: 33%;
	box-sizing: border-box;
	display: inline-block;
}

.feederboard {
	width: 100vw;
	min-height: 100vh;
	background-color: #c6c6e0;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.feederboard-list-container {
	background-color: #242f3c;
	width: 90vw;
	box-sizing: border-box;
	max-height: 80vh;
	overflow-y: scroll;
	margin: 2vh;
}

.feederboard-item {
	background-color: white;
	margin: 10px auto;
	display: flex;
	flex-flow: row wrap;
	height: 16vh;
}

.fb-image-container, .fb-detail-container, .fb-joined-by {
	box-sizing: border-box;
	width: 20%;
	margin: 3vw;
}

.fb-image-container {
	width: 25%;
}

.fb-image-container img {
	display: block;
	width: 90%;
	box-sizing: border-box;
	text-align: center;
	margin: 0 auto;
}

.fb-joined-by {
	width: 30%;
	height: 90%;
	overflow-y: scroll;
}

.restaurant-list-item-expansion {
	background-color: white;
	margin: 1vw auto;
	width: 98%;
	border-radius: 0 0 4px 4px;
	text-align: center;
}

.restaurant-list-item-expansion input {
	margin: 1vh;
}

#taco-drink {
	width: 50vw;
	margin: 20px 0;
}

#food-group {display: none;}

@media all and (min-width: 768px) {

	/*#img-drink, #img-pizza, #img-taco, #img-wrap {display: block; position: absolute;}*/
	#taco-drink {display: none;}
	#food-group {display: block; width: 60vw; position: absolute; left: 10vw; top: 42vh;}

	#food-type-search, #food-type-submit {
		width: 50vw;
	}

	#food-type-skip {
		position: fixed;
    bottom: 8vh;
    right: 25vw;
    width: 50vw;}
}

@media (min-width:961px) {
	#landing-heading{
		

	}

	#food-type-submit {
		display: inline-block;

	}

	#food-type-search {
	
	}

	#food-group {
		left:2vw;
		max-width: 40vw;
		top: 60vh;
		
	}

	#food-type-skip {
		right: 8vw;
		bottom: 14vh;
		max-width: 30vw;

	}

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }


