<div class="feederboard-item">
  <div class="fb-image-container">
    <img src="http://via.placeholder.com/350x250" alt="">
  </div>
  <div class="fb-detail-container">
    <ul>
      <li>{{place.count}}</li>
      <a href="{{ place.resimg }}"><li>{{ place.resname }}</li></a>
      <li>{{ place.resaddress1 }}</li>
      <li>{{ place.resaddress2 }}</li>
      <li>{{ place.resprice }}</li>
      <li>{{ place.resrating }}</li>
    </ul>
  </div>
  <div class="fb-joined-by">
    <p ng-repeat="person in place.person track by $index">{{ person }}</p>
  </div>
</div>
