<div class="feederboard">
  <img class="left-arrow" ng-click="toRestaurantList()" src="./img/left_arrow.svg" alt="">
  <div id="search" >
    <input class="restaurant-search" type='text' ng-model='resName' placeholder="filter results"/>
  </div>
  <img class="home-button" ng-click="toLanding()" src="./img/home.svg" alt="">
  <h4 id="fb-view-header">where everyone is going</h4>
  <div class="feederboard-list-container">
    <div class="container-of-feederboard-item" ng-repeat="place in data | orderBy: place.count | filter:find |filter:resName track by $index">
      <ng-click>
        <feederboard-item ng-click="expand(place)"></feederboard-item>
      </ng-click>
      <div ng-slide-down="place.showfull" class="feederboard-item-expansion-container">
        <div class="feederboard-item-expansion">
          <p ng-repeat="message in place.messages track by $index">{{ message }}</p>
        </div>
      </div>
    </div>
  </div>
  <select name="group"  value="Grand Circus" id="group-select" ng-model="find" ng-options="entry.personorg as entry.personorg for entry in data | unique: 'personorg'">
    <!-- <option value="" disabled selected>filter by group</option> -->
  </select>
</div>
