<div class="feederboard">
  <img class="left-arrow" ng-click="toRestaurantList()" src="./img/left_arrow.svg" alt="">
  <h4>THE FEEDERBOARD</h4>
  <img class="home-button" ng-click="toLanding()" src="./img/home.svg" alt="">
  <span id="group-label">Group: </span><select name="group" id="group-select">
    <option value="">Grand Circus</option>
    <option value="">Quicken</option>
    <option value="">DTE</option>
    <option value="">Ford</option>
  </select>
  <div id="search" >
        <input type='text' ng-model='resName' placeholder="Search restaurant"/>
        <!-- <li ng-repeat="person in place.resname | filter:query | orderBy: 'place.parson'">{{ person }}</li> -->

  </div>
  <div class="feederboard-list-container">
    <feederboard-item ng-repeat="place in data | filter:resName track by $index"></feederboard-item>
  </div>
</div>
