<div class="feederboard">
  <img class="left-arrow" ng-click="toRestaurantList()" src="./img/left_arrow.svg" alt="">
  <h4>THE FEEDERBOARD</h4>
  <img class="home-button" ng-click="toLanding()" src="./img/home.svg" alt="">
  <span id="group-label">Group: </span>
  <select name="group"  value="Grand Circus" id="group-select" ng-model="find" ng-options="entry.personorg as entry.personorg for entry in data | unique: 'personorg'">
    Select An Org
  </select>
  <div id="search" >
        <input type='text' ng-model='resName' placeholder="Search restaurant"/>
        <!-- <li ng-repeat="person in place.resname | filter:query | orderBy: 'place.parson'">{{ person }}</li> -->

  </div>
  <div class="feederboard-list-container">
    <feederboard-item ng-repeat="place in data | orderBy: place.count | filter:find |filter:resName track by $index"></feederboard-item>
  </div>
</div>
