<div class="restaurant-list-item">
  <img class="rli-image" src="{{ place.image_url }}" alt="">
  <div class="rli-detail-container">
    <p><a href="{{ place.url }}" target="_blank">{{ place.name }}</a></p>
    <div class="rli-location-phone">
      <ul>
        <li>{{ place.location.address1 }}</li>
        <li>{{ place.location.city }}, {{ place.location.state }} {{ place.location.zip_code }}</li>
        <li>{{ place.display_phone }}</li>
      </ul>
    </div>
    <div class="rli-rating-price">
      <li>{{ place.rating }} &#9733;'s</li>
      <li>{{ place.price }}</li>
    </div>
  </div>
  <!-- <div class="rli-suggested-by">
    <p>Suggested By: suggested by</p>
  </div> -->
  <!-- <div class="rli-joined-by">
    <p>Joined By: joined by</p>
  </div> -->
<!-- <div class="rli-input"></div> -->
</div>
