<div class="restaurant-list-item">
  <div class="rli-image-container">
    <img src="http://via.placeholder.com/350x250" alt="">
  </div>
  <div class="rli-detail-container">
    <ul>
      <li>restaurant name</li>
      <li>address</li>
      <li>city, state zip</li>
      <li>price rating</li>
    </ul>
  </div>
  <div class="rli-suggested-by">
    <p>Suggested By: suggested by</p>
  </div>
  <div class="rli-joined-by">
    <p>Joined By: joined by</p>
  </div>
  <div class="rli-input">
    <input type="text">
    <button>GO HERE</button>
  </div>
</div>





<!-- <div class="restaurant-list-item">
  <div class="rli-image-container">
    <img src="{{ image }}" alt="{{ image name }}">
  </div>
  <div class="rli-detail-container">
    <ul>
      <li>{{ restaurant name }}</li>
      <li>{{ address }}</li>
      <li>{{ city }}, {{ state }} {{ zip }}</li>
      <li>{{ price rating }}</li>
    </ul>
  </div>
  <div class="rli-suggested-by">
    <p>Suggested By: {{ suggested by }}</p>
  </div>
  <div class="rli-joined-by">
    <p>Joined By: {{ joined by }}</p>
  </div>
</div> -->
