<div class="restaurant-list-item">
  <div class="rli-image-container">
    <img src="{{ image }}" alt="{{ image name }}">
  </div>
  <div class="rli-detail-container">
    <ul>
      <li>r{{ restaurant name }}</li>
      <li>a{{ address }}</li>
      <li>c{{ city }}, {{ state }} {{ zip }}</li>
      <li>p{{ price rating }}</li>
    </ul>
  </div>
  <div class="rli-suggested-by">
    <p>Suggested By: {{ suggested by }}</p>
  </div>
  <div class="rli-joined-by">
    <p>Joined By: {{ joined by }}</p>
  </div>
</div>
