<div class="restaurants">
  <img id="left-arrow" ng-click="toLanding()" src="./img/left_arrow.svg" alt="">
  <input class="restaurant-search" type="text" placeholder="search">
  <img id="right-arrow" ng-click="toFeederboard()" src="./img/right_arrow.svg" alt="">
  <h4>displaying TYPE OF RESTAURANT restuarants within a mile</h4>
  <div class="restaurant-list-container">
    <restaurant-list-item ng-repeat="place in data track by $index"></restaurant-list-item> 
    
  </div>
  <button type="" ng-submit="">WHAT'S EVERYONE ELSE HAVING?</button>
</div>







<!--
<div class="restaurant-modal-img">
  <img src="http://via.placeholder.com/350x250" alt="">
</div>
<div class="restaurant-modal-details">
  <div class="restaurant-modal-location">
    <ul>
      li
    </ul>
  </div>
  <div class="restaurant-modal-people">

  </div>
</div> -->
